.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}
