/* здесь используйте глобальные селекторы img, body, html и так далее*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

dl,
ul,
ol {
  list-style-type: none;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
}
