/* здесь используйте глобальные селекторы img, body, html и так далее*/

// /*
//   8. Create a root stacking context
// */
// #root,
// #__next {
//   isolation: isolate;
// }

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  // padding: 0;
}

dl,
ul,
ol {
  list-style-type: none;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

// p,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   overflow-wrap: break-word;
// }

body {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  // -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

html {
  height: 100%;
}
