.button {
  color: $white;
  text-align: center;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  text-transform: uppercase;
  text-decoration: none;
  background-color: $bright;
  padding: 10px;
  border: none;
  outline: none;
}

// .button--wide {}

.button--secondary {
  color: $grey-text;
  background-color: $grey-bg;
}
