.catalog-additional {
  width: 100%;
}

// .catalog-additional__container {}

.catalog-additional__title-wrapper {
  display: flex;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  &::after {
    content: "";
    z-index: -1;
    height: 2px;
    flex-grow: 1;
    background-color: $bright;
    transform: translateY(14px);
  }

  @media (min-width: $tablet-width) {
    &::before {
      content: "";
      z-index: -1;
      height: 2px;
      background-color: $bright;
      transform: translateY(22px);
      width: 30px;
    }
    &::after {
      transform: translateY(22px);
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 70px;
    }
  }
}

.catalog-additional__title {
  color: $black;
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.catalog-additional__title--decorated {
  padding-left: 20px;
  padding-right: 20px;
  background-color: $white;
  width: fit-content;
  // flex-shrink: 1;
  // overflow: hidden;
  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
}


.catalog-additional__products-list {
  display: grid;
  grid-template-columns: 1fr;
}

.catalog-additional__product-card {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 13px;
  border-top: 1px solid $grey-input;
  padding-top: 12.6px;
  padding-bottom: 18px;
  // margin-bottom: -1px;

  &:last-child {
    border-bottom: 1px solid $grey-input;
  }

  @media (min-width: $tablet-width) {
    border-left: 1px solid $grey-input;
    border-right: 1px solid $grey-input;
    padding: 26px 37px 28px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
  }
}

.catalog-additional__product-title {
  color: $grey-title;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  /* 100% */
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.catalog-additional__product-properties-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: flex-end;
    // align-self:
  }
}

.catalog-additional__product-quantity {
  color: $grey-text;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle;
  }
}

.catalog-additional__product-price {
  color: $grey-text;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    min-width: 93px;
    text-align: right;
    padding-right: 3px;
  }
}

.catalog-additional__product-order-button {
  grid-column: 1/-1;
}
