.catalog-additional {
  width: 100%;
}

// .catalog-additional__container {}

.catalog-additional__title-wrapper {
  display: flex;
  position: relative;
  // align-items: flex-start;

  &::after {
    content: "";
    left: 0;
    right: 0;
    position: absolute;
    top: -1px;
    z-index: -1;
    height: 2px;
    flex-grow: 1;
    background-color: $bright;
    transform: translateY(15px);
  }
}

.catalog-additional__title {
  color: $black;
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 34px;
}

.catalog-additional__title--decorated {
  padding-left: 20px;
  padding-right: 20px;
  background-color: $white;
  width: fit-content;
  // flex-shrink: 1;
  // overflow: hidden;
}


.catalog-additional__products-list {
  display: grid;
  grid-template-columns: 1fr;
}

.catalog-additional__product-card {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 13px;
  border-top: 1px solid $grey-input;
  padding-top: 12.6px;
  padding-bottom: 18px;
  // margin-bottom: -1px;

  &:last-child {
    border-bottom: 1px solid $grey-input;
  }

  @media (min-width: $tablet-width) {
    border-left: 1px solid $grey-input;
    border-right: 1px solid $grey-input;
    padding: 26px 38px 28px;
    }
}

.catalog-additional__product-title {
  color: $grey-title;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  /* 100% */
  text-transform: uppercase;
}

.catalog-additional__product-properties-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.catalog-additional__product-quantity {
  color: $grey-text;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  /* 100% */
}

.catalog-additional__product-price {
  color: $grey-text;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  /* 100% */
}

// .catalog-additional__product-order-button {}
