.contacts {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts--themed {
  background-color: $grey-bg;
}

.contacts--theme-grey {
  background-color: $grey-bg;

  @media (min-width: $desktop-width) {
    background-color: $white;
  }
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 26px;
  padding-bottom: 26.5px;


  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 61px;
    padding-bottom: 59px;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    padding-left: 80px;
    padding-right: 78px;
    padding-top: 61px;
    padding-bottom: 60px;
    background-color: $white;
  }
}

.contacts__title {
  display: block;
  color: $black-lighter;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    width: auto;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.contacts__address {
  display: flex;
  flex-direction: column;
  width: 140px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    align-items: flex-end;
    text-align: right;
    padding-right: 40px;
    width: auto;
    font-size: 16px;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-start;
    text-align: left;
    padding: 0;
    gap: 18px;
  }
}

.contacts__map {
  width: 100%;
  min-height: 362px;
  background-image: image-set(
    url("../../images/map-img@2x.webp") type("image/webp") 2x,
    url("../../images/map-img@1x.webp") type("image/webp"),
    url("../../images/map-img@2x.png") 2x,
    url("../../images/map-img@1x.png"));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: $tablet-width) {
    min-height: 400px;
    background-image: image-set(
      url("../../images/map-img-tablet@2x.webp") type("image/webp") 2x,
      url("../../images/map-img-tablet@1x.webp") type("image/webp"),
      url("../../images/map-img-tablet@2x.png") 2x,
      url("../../images/map-img-tablet@1x.png"));
  }

  @media (min-width: $desktop-width) {
    background-image: image-set(
      url("../../images/map-img-desktop@2x.webp") type("image/webp") 2x,
      url("../../images/map-img-desktop@1x.webp") type("image/webp"),
      url("../../images/map-img-desktop@2x.png") 2x,
      url("../../images/map-img-desktop@1x.png"));
  }
}
