.contacts {
  padding: 26px 20px;
  display: flex;
  flex-direction: column;
  // max-width: 482px;
  width: 100%;
  // max-width: 522px;
  // align-items: stretch;
  // flex: 1;
}

.contacts--theme-grey {
  background-color: $grey-bg;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // flex-grow: 1;
  // width: max-content;
  // flex: 1;
}

.contacts__title {
  display: block;
  color: $black-lighter;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  text-transform: uppercase;
  width: 140px;
  // flex: 1;
}

.contacts__address {
  display: flex;
  flex-direction: column;
  width: 140px;
  // flex: 1;
}

// .contacts__street {}

// .contacts__city {}

// .contacts__map {}

// .contacts__map-image {}

@media (min-width: $tablet-width) {
  .contacts__address {
    gap: 20px;
  }
}
