.example {
  padding: 25px 20px 39.5px;
  background-color: $grey-bg-2;
}

.example__title {
  color: $black;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 40px;
}

.example__lead {
  color: $grey-text;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 20px;
}

.example__data-list {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 34px;
}

.example__data-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 124px;
  border: 1px solid $grey-separator-3;
  border-radius: 4px;
  padding: 15px;
}

.example__data-value {
  color: $black;
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
}

.example__data-details {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $grey-text;
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  position: absolute;
  transform: translateX(-50%);
  top: 85%;
  left: 50%;
  width: 87px;
  min-height: 24px;
  background-color: $grey-bg-2;
  text-transform: lowercase;
  padding: 0 8px;
}

.example__expenses {
  color: $black;
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .example {
    padding: 45px 30px 101px;
    background: linear-gradient($white 619px, $grey-bg-2 619px);
  }

  .example__data-container {
    display: flex;
    justify-content: space-between;
  }

  .example__data-details {
    background-color: $white;
  }

  .example__expenses {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    // text-align: right;
    align-items: end;
    gap: 9px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .example__lead {
    font-size: 16px;
    line-height: 24px;
  }
}
