.example {
  // padding: 25px 20px 39.5px;
  padding-top: 25px;
  padding-bottom: 39.5px;
  background-color: $grey-bg-2;

  @media (min-width: $tablet-width) {
    border-top: 1px solid $grey-separator-2;
    padding-top: 45px;
    padding-bottom: 101px;
    background: linear-gradient($white 619px, $grey-bg-2 619px);
  }

  @media (min-width: $desktop-width) {
    border-top: none;
    padding-top: 22px;
    padding-bottom: 75px;
    background: linear-gradient($white 159px, $grey-bg 159px);
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__title {
  color: $black;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {

    margin-bottom: 147px;
  }
}

.example__lead {
  color: $grey-text;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 150px;
    margin-bottom: 68.5px;
  }
}

.example__data-container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 104px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    gap: 60px;
  }
}

.example__data-list {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    gap: 43px;
    margin-bottom: 0;
  }
}

.example__data-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 124px;
  border: 1px solid $grey-separator-3;
  border-radius: 4px;
  padding: 15px;

  @media (min-width: $tablet-width) {
    width: 162px;
    padding-top: 14px;
    padding-bottom: 19px;
  }
}

.example__data-value {
  color: $black;
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  position: relative;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__data-details {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $grey-text;
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  position: absolute;
  transform: translateX(-50%);
  top: 85%;
  left: 50%;
  width: 87px;
  min-height: 24px;
  background-color: $grey-bg-2;
  text-transform: lowercase;
  padding: 0 8px;

  @media (min-width: $tablet-width) {
    background-color: $white;
    font-size: 14px;
    line-height: 14px;
    width: auto;
    max-width: 142px;
    left: 49.5%;
    top: 81%;
    text-wrap: nowrap;
    padding: 0 10px;
  }

  @media (min-width: $desktop-width) {
    background-color: $grey-bg;
  }
}

.example__expenses {
  color: $black;
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    gap: 9px;
    margin-bottom: 0;
    margin-top: 11px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin-top: 0;
    gap: 66px;
  }
}

.example__slider {
  justify-content: center;

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
    // align-items: flex-start;
  }
}
