*::placeholder {
  color: $grey-text;
}

.form {
  width: 100%;
  border-top: 1px solid $grey-separator-3;
}

.form__section-primary {
  padding-top: 27px;
}

.form__section-title-wrapper {
  display: flex;
  // align-items: flex-start;

  &::after {
    content: "";
    left: 0;
    right: 0;
    top: 20px;
    z-index: -1;
    height: 2px;
    flex-grow: 1;
    background-color: $bright;
    transform: translateY(15px);
  }
}

.form__section-title {
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: $black;
}

.form__section-title--decorated {
  padding-right: 20px;
  padding-left: 20px;
  background-color: $white;
  width: fit-content;
  // flex-shrink: 1;
  // overflow: hidden;
}

@media (max-width: 410px) {
  .form__section-title--decorated {
    width: min-content;
  }
}

.form__section-primary .form__section-title {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 37px;
}

.form__section-owner-contacts .form__section-title-wrapper {
  margin-bottom: 35px;
}

.form__section-comment .form__section-title-wrapper {
  margin-bottom: 38px;
}

.form__section-optional .form__section-title-wrapper {
  margin-bottom: 34px;
}

.form__section-note {
  color: $black;
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.form__fieldset-cat-data {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 24px 0;
}

.form__item-label {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $grey-text;
  text-wrap: nowrap;
  text-transform: uppercase;
  width: 100%;
}

.form__item-input {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $grey-text;
  text-transform: uppercase;
}

.form__item-input[type="text"],
.form__item-input[type="number"] {
  text-transform: inherit;
  width: 100%;
  border: 1px solid $grey-text-input;
  padding: 13px 14px 12px;
}

.form__item-input[type="text"]:focus,
.form__item-input[type="number"]:focus {
  box-shadow: inset 0 0 0 1px $grey-text;
  border-color: $grey-text;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

.form__item-input:hover {
  border-color: $grey-input;
}

.form__item-input:invalid:not(:placeholder-shown) {
  border-color: $danger;
  box-shadow: inset 0 0 0 1px $danger;
}

.form__item-input:disabled + .form__item-label {
  opacity: 0.3;
}

.form__item-input:disabled + .form__item-label .form__item-checkbox,
.form__item-input:disabled + .form__item-label .form__item-radio {
  cursor: default;
}

.form__fieldset-program-select {
  border-top: 1px solid $grey-separator-3;
  border-bottom: 1px solid $grey-separator-3;
  margin-left: -20px;
  margin-right: -20px;
  padding: 22px 20px 19px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.form__item-input[type="radio"] {
  appearance: none;
  // -webkit-appearance: none;
  // -moz-appearance: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__item-radio {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid $grey-input;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.form__item-radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: $bright;
  opacity: 0;
}

.form__item-input[type="radio"]:checked + .form__item-label .form__item-radio::after {
  opacity: 1;
}

.form__item-input[type="radio"]:focus + .form__item-label .form__item-radio {
  box-shadow: inset 0 0 0 1px $grey-text;
  border-color: $grey-text;
  outline: none;
}

.form__item-input[type="radio"]:not(:disabled) + .form__item-label .form__item-radio:hover {
  border-color: $grey-checkbox;
}

.form__item-input[type="radio"]:focus:hover + .form__item-label .form__item-radio {
  box-shadow: inset 0 0 0 1px $grey-text;
  border-color: $grey-text;
  outline: none;
}

.form__section-owner-contacts {
  padding: 26px 0 24px;
}

.form__fieldset-owner-contacts {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form__email-field {
  margin-left: 20px;
  margin-right: 20px;
}

.form__phone-field {
  margin-left: 20px;
  margin-right: 20px;
}

.form__comment-textarea-wrapper {
  padding: 0 20px;
  margin-bottom: 23px;
}

.form__comment-textarea {
  padding: 15px 14px 14px;
  width: 100%;
  height: 150px;

  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: $grey-text;
  text-transform: uppercase;
}

.form__fieldset-optional {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 20px;
  margin-bottom: 34px;
}

.form__item-input[type="checkbox"] {
  appearance: none;
  // -webkit-appearance: none;
  // -moz-appearance: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__item-checkbox {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid $grey-input;
  cursor: pointer;
  position: relative;
}

.form__item-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bright;
  opacity: 0;
  // -webkit-mask-image: url("../../images/icons/stack.svg#tick");
  mask-image: url("../../images/icons/stack.svg#tick");
  mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;
}

.form__item-input[type="checkbox"]:checked + .form__item-label .form__item-checkbox::after {
  opacity: 1;
}

.form__item-input[type="checkbox"]:focus + .form__item-label .form__item-checkbox {
  box-shadow: inset 0 0 0 1px $grey-text;
  border-color: $grey-text;
  outline: none;
}

.form__item-input[type="checkbox"]:not(:disabled) + .form__item-label .form__item-checkbox:hover {
  border-color: $grey-checkbox;
}

.form__item-input[type="checkbox"]:focus:hover + .form__item-label .form__item-checkbox {
  box-shadow: inset 0 0 0 1px $grey-text;
  border-color: $grey-text;
  outline: none;
}

.form__submit-container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
  margin-bottom: 32px;
}

.form__submit-button {
  width: 100%;
}

.form__submit-note {
  color: $black;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
