// .main-nav {}

// .main-nav__toggle {}

// .main-nav__container {}

.main-nav__list {
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  /* 100% */
  text-transform: uppercase;
}

// .main-nav__item {}

.main-nav__link {
  text-decoration: none;
  color: #000000;
}

// .main-nav__link--current {}
