.main-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 65px;
  padding: 0 20px;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    padding: 0 30px;
    margin-top: 18px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    margin-top: 52px;
  }
}

.main-header--themed {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.main-header__logo-pic,
.main-header__logo-text {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-pic-img {
  @media (min-width: $tablet-width) {
    margin-right: 13px;
  }
}

.main-header__logo-text {
  margin: 0 auto;
  min-height: 65px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-header__logo-text-img {
  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}

.main-header__toggle {
  width: 24px;
  height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  margin-left: 9px;
  margin-right: 1px;
  margin-bottom: 1px;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.6;
  }

  & span {
    height: 2px;
    width: 24px;
    background-color: $black;
    position: absolute;
    transition: all 0.3s ease;
  }

  & span:nth-child(1) {
    top: 2px;
  }

  & span:nth-child(2) {
    top: 10px;
  }

  & span:nth-child(3) {
    top: 18px;
  }

  &--open span:nth-child(1) {
    top: 11px;
    transform: rotate(45deg);
  }

  &--open span:nth-child(2) {
    opacity: 0;
  }

  &--open span:nth-child(3) {
    top: 11px;
    transform: rotate(-45deg);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__nav {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  display: none;

  @media (min-width: $tablet-width) {
    position: static;
    margin-left: auto;
  }
}

.main-header__nav--nojs {
  @media (max-width: $tablet-width) {
    position: static;
    margin-left: auto;
    padding-top: 0;
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
}

// @media (min-width: $tablet-width) {
//   .main-nav__wrapper {
//     display: flex;
//     justify-content: space-between;
//     width: 640px;
//     margin: 0 auto;
//   }

//   .main-nav__toggle {
//     display: none;
//   }
// }

// @media (min-width: $desktop-width) {
//   .main-nav__wrapper {
//     width: 960px;
//   }
// }
