.main-footer {
  background-color: $grey-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 39px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding-top: 56.5px;
    padding-bottom: 56px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-top: 68px;
    padding-bottom: 67px;
  }
}

.main-footer__logo {
  color: $black-lighter;

  &:hover {
    color: #3e3e3e;
  }

  &:active {
    color: #6b6b6b;
  }
}

.main-footer__socials {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-left: 35px;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    height: 1px;
    background-color: $grey-separator-2;
    margin: 19.5px 0;
    align-self: stretch;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
