.page {
  min-height: 100%;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}
