.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  row-gap: 17px;
  padding-top: 20px;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding: 10px 37px 40px;
    background-image: linear-gradient(to bottom, $white 81px, $grey-bg 81px);
    min-height: 511px;
  }

}

.product-card--last {
  grid-template-columns: 1fr;
  border-bottom: 1px solid $grey-separator-1;
  row-gap: 21px;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    background-image: none;
    border: 2px solid $grey-bg;
    margin-top: 82px;
    padding-top: 50px;
    gap: 0;
    min-height: 429px;
  }
}

.product-card__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 107px;
  justify-self: center;
  // margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
    margin-bottom: 22px;
  }
}

// .product-card__img {}
.product-card__data-container {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }
}

.product-card__data-container--last {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 82px;
  }

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../../images/icons/stack.svg#icon_plus");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
      background-image: url("../../images/icons/stack.svg#icon_plus-big");
      margin-bottom: 50px;
    }
  }

}

.product-card__title {
  color: $grey-title;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 60%;
  min-width: 80px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    align-self: center;
    margin-bottom: 20px;
  }
}

.product-card__title--last {
  width: auto;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.product-card__properties-list {
  max-width: 150px;

  @media (min-width: $tablet-width) {
    max-width: 100%;
  }
}

.product-card__property {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $grey-input;
    min-height: 32px;
    align-items: flex-end;
    padding-bottom: 5px;
  }
}

.product-card__property-name,
.product-card__property-value {
  color: $grey-text;
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product-card__note {
  color: $grey-text;
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;

  }
}

.product-card__order-button {
  justify-self: stretch;
  grid-column: 1/-1;
}
