.product-description {
  padding: 0 20px 49px;
}

// .product-description__container {}

.product-description__title {
  color: $black;
  // text-align: center;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  /* 111.111% */
  margin-bottom: 40px;
}

.product-description__list {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.product-description__item {
  color: $grey-text;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-left: 80px;
  position: relative;
  min-height: 54px;
  display: flex;
  align-items: center;
  /* 128.571% */

  // &-nutrients {}

  // &-preparation {}

  // &-regimen {}

  // &-results {}
}

.product-description__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: $bright;
}


.product-description__item-nutrients::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  width: 25px;
  height: 28px;
  background-image: url("../../images/icons/stack.svg#icon_nutrients");
}

.product-description__item-preparation::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  width: 26px;
  height: 29px;
  background-image: url("../../images/icons/stack.svg#icon_preparation");
}

.product-description__item-regimen::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  width: 25px;
  height: 30px;
  background-image: url("../../images/icons/stack.svg#icon_regimen");
}

.product-description__item-results::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  width: 27px;
  height: 31px;
  background-image: url("../../images/icons/stack.svg#icon_results");
}
