.socials__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // width: 132px;
  width: 100%;
  // max-width: 640px;
  padding: 0 74px;
}

.socials__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 22px;
  background-color: $grey-interactive;
  mask-position: center;
  mask-repeat: no-repeat;
}

.socials__item-link-vk {
  mask-image: url("../../images/icons/stack.svg#icon_vkontakte");
}

.socials__item-link-youtube {
  mask-image: url("../../images/icons/stack.svg#icon_youtube");
}

.socials__item-link-telegram {
  mask-image: url("../../images/icons/stack.svg#icon_telegram");
}

// .socials__item-svg {}

.socials__item-link:hover {
  background-color: $bright;
}

.socials__item-link:active {
  opacity: 0.3;
}
