.special-offer {
  padding: 35px 20px;
}

.special-offer__container {
  min-height: 290px;
  background-image: linear-gradient(to bottom, $bright-transparrent, $bright-transparrent), url("../../images/catalog-gift-background@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center, center;
  padding: 58px 20px 43px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.special-offer__text {
  color: $white;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  text-align: center;
  padding: 0 40px;
}

.special-offer__icon {
  background-image: url("../../images/icons/stack.svg#icon_gift");
  background-repeat: no-repeat;
  width: 78px;
  height: 80px;
}
